// Colors
$primary: #03207e;

// Typography
$line-height-base: 1.3;
$font-size-base: 1.5rem;
$font-size-sm: 1rem;
$font-family-base: "Sang Bleu Kingdom";
$body-color: $primary;

@import "bootstrap/variables";
