.bg-container {
    position: absolute;
    width: calc(100% - 4rem);
    margin: 0 2rem;
    height: 100%;
    overflow: hidden;
    transform-origin: top left;
    .img-container {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            top: 0;
        }
        &::before, &::after {
            content: '';
            position: absolute;
            height: 50%;
            width: 100%;
            left: 0;
            background-color: black;
            z-index: -1;
            @include transition(top .5s);
        }
        &::before {
            top: -50%;
        }
        &::after {
            top: 100%;
        }
        &.closed::after {
            top: 50%;
        }
        &.closed::before {
            top: 0;
        }
    }
    &.collapsed {
        transform: scaleY(.5);
        @include transition(all .5s);
        transition-property: top, transform, bottom;
        &.top {
            top: 0;
            bottom: auto;
        }
        &.bottom {
            transform-origin: bottom left;
            bottom: 0;
            top: auto;
        }
    }
}

.bg-black {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    @include transition(transform .7s);
    &.left {
        transform: translateX(-100%);
    }
}
