.contact-container, .manifest-container {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 100%;
    z-index: -1;
    @include transition(top .5s);
}

.contact-container {
    top: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    table {
        th {
            font-weight: normal;
            em {
                font-size: .5em;
            }
        }
        font-size: .9em;
        margin: auto 0;
    }
    &.show {
        top: 50%;
    }
}

.pre-text {
    padding-right: 1.5rem;
}

.contact-type {
    font-size: 1.4em;
    padding-bottom: 1rem;
}

.contact-mail {
    padding-bottom: 2rem;
}

.manifest-container {
    top: -50%;
    display: flex;
    p {
        text-align: center;
        margin: auto;
        font-size: 1.5em;
        padding: 0 2rem;
    }
    &.show {
        top: 0;
    }
}