@font-face {
    font-family: "Sang Bleu Kingdom";
    src: url("fonts/sang-bleu-kingdom.otf") format("truetype");
}
  
@font-face {
    font-family: "Sang Bleu Kingdom";
    font-style: italic;
    src: url("fonts/sang-bleu-kingdom-italic.otf") format("truetype");
}
  
@font-face {
    font-family: "Sang Bleu Kingdom";
    font-weight: bold;
    src: url("fonts/sang-bleu-kingdom-bold.otf") format("truetype");
}