.index {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary;
    text-align: center;
    display: none;
    z-index: 10;
    &.show {
        display: block;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        font-size: 1.5rem;
        padding: 10rem 3rem;
        overflow-y: auto;
        box-sizing: border-box;
        margin: 0;
        color: white;
        li {
            margin-bottom: 1rem;
            cursor: pointer;
            &:last-of-type {
                margin: 0;
            }
        }
    }
    button {
        height: 25px;
        width: 25px;
        position: absolute;
        top:15px;
        right:15px;
        border:none;
        background-color: inherit;
        box-sizing: border-box;
        cursor: pointer;
        &::after, &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: white;
        }
        &::after { transform: rotate(45deg); }
        &::before { transform: rotate(-45deg); }
    }
}

.video {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    display: inline-block;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    cursor: pointer;
    &:hover {
        opacity: 1;
    }
}

.icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.close {
    height: 25px;
        width: 25px;
        position: absolute;
        top:15px;
        right:15px;
        border:none;
        background-color: inherit;
        box-sizing: border-box;
        cursor: pointer;
        &::after, &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            top: 50%;
            left: 0;
            margin-top: -1px;
            background: white;
        }
        &::after { transform: rotate(45deg); }
        &::before { transform: rotate(-45deg); }
}

.project-title {
    display: none;
}