body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.header, .footer {
    width: 100%;
    flex-shrink: 0;
    display: flex;
    background-color: white;
    p {
        margin: 1rem 0;
        cursor: pointer;
    }
}

.header { justify-content: center; }

.footer {
    justify-content: space-between;
    padding: 0 2rem;
}

.main-container {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
}

#contact-link {
    cursor: pointer;
}
