.slider-container {
    position: absolute;
    width: 100%;
    height: 100%;
    @include transition(all .5s);
}

.vertical-wrapper  {
    position: relative;
    width: 100%;
    height: 80%;
    top: 10%;
    overflow: hidden;
    .content {
        top: 0;
        position: absolute;
        left: 50%;
        height: 100%;
        transform: translateX(-50%);
        @include transition(all .5s);
        max-width: 60%;
    }
    .content.before {
        top: -100%;
    }
    .content.after {
        top: 100%;
    }
    .h-right {
        left: 80%;
        transform: scale(.9);
    }
    .h-left {
        left: -20%;
        transform: scale(.9);
    }
}

.h-content {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    @include transition(all .7s);
    &.left {
        left: -80%;
        @include transition(left .7s);
        &.none {
            left: -100%;
        }
        .content {
            right: 0;
            left: auto;
            transform: scale(.8);
        }
    }
    &.right {
        left: 80%;
        &.none {
            @include transition(left .7s);
            left: 100%;
        }
        .content {
            left: 0;
            right: auto;
            transform: scale(.8);
        }
    }
    &.active {
        z-index: 5;
    }
}

.bouboule {
    position: absolute;
    height: 1.4rem;
    width: 1.4rem;
    left: 50%;
    background: $primary;
    @include border-radius(50%);
    &.top {
        top: 5%;
        transform: translateY(-50%) translateX(-50%);
    }
    &.bottom {
        bottom: 5%;
        transform: translateY(50%) translateX(-50%);
    }
    &.none {
        display: none;
    }
}

.click-right, .click-left {
    position: absolute;
    height: 100%;
    width: 20%;
    z-index: 8;
    &.none {
        display: none;
    }
}

.click-left { left: 0; }
.click-right { right: 0; }

.project-infos {
    padding: 5rem 3rem;
    overflow-y: auto;
    background-color: $primary;
    width: 80%;
    display: flex;
    justify-content: center;
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        text-align: center;
        li {
            margin-bottom: 1rem;
            &:last-child {
                margin: 0;
            }
        }
    }
}
